name: TDR Run Lambda Tests
on:
  pull_request:
  push:
    branches-ignore:
      - main
      - release-*
permissions:
  id-token: write
  contents: write
jobs:
  test:
    uses: nationalarchives/tdr-github-actions/.github/workflows/tdr_test.yml@13faff54c193651ee30482ebdf01e083c8b14203 # v0.0.17
    with:
      repo-name: tdr-rotate-keycloak-secrets
      test-command: |
        sbt test
    secrets:
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
